<div class="col-md-3">
  <h2>User info</h2>
  <%= image_tag book.user.get_profile_image(100,100) %>
  <tabl class="table">
    <tbody>
      <tr>
        <th>namme</th>
        <th>book.user.name</th>
      </tr>
    </tbody>
  </tabl>
</div>